<!-- Jumbotron Header -->
      <header class="jumbotron my-4" style="background-image:url('https://www.customwallpaper.net.au/wp-content/uploads/2016/07/Soccer-ball-in-goal-1024x543.jpeg');background-size:cover;background-repeat:no-repeat">
        <h1>Soccer Predictions</h1>
        <% if logged_in? %>
          <h3 class="header"><%= "Hello, #{@user.name}" %></h3>
        <% else %>
          <h3 class="header">Think you can predict the future?<br>Put your prediction skills to the test here!</h3>
          <h3 class="header"><%= link_to 'Sign Up!', signup_path, class: 'btn btn-lg btn-dark' %></h3>
        <% end %>
      </header>

      <!-- Page Features -->
      <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" height="160px" src="https://upload.wikimedia.org/wikipedia/en/f/f2/Premier_League_Logo.svg" alt="EPL">
            <div class="card-body">
              <h4 class="card-title">Premier League</h4>
              <p class="card-text">Will Manchester City be able to retain the title this season?</p>
            </div>
            <div class="card-footer">
              <%= link_to 'Find Out More', league_path(@leagues[0]), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" height="160px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/La_Liga_logo.svg/640px-La_Liga_logo.svg.png" alt="La Liga">
            <div class="card-body">
              <h4 class="card-title">La Liga</h4>
              <p class="card-text">Cristiano is off to Italy, but surely this is still a league to watch.</p>
            </div>
            <div class="card-footer">
              <%= link_to 'Find Out More', league_path(@leagues[1]), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" height="160px" src="https://upload.wikimedia.org/wikipedia/en/d/dd/Ligue_1_Logo.svg" alt="Ligue 1">
            <div class="card-body">
              <h4 class="card-title">Ligue 1</h4>
              <p class="card-text">Kind of a one-man-show here, but hey, maybe we'll be surprised this season.</p>
            </div>
            <div class="card-footer">
              <%= link_to 'Find Out More', league_path(@leagues[2]), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" height="160px" src="https://upload.wikimedia.org/wikipedia/en/0/02/Serie_A_logo_%282018%29.png" alt="Serie A">
            <div class="card-body">
              <h4 class="card-title">Serie A</h4>
              <p class="card-text">How exciting will this be after the arrival of 5-time Ballon-d'Or winner?</p>
            </div>
            <div class="card-footer">
              <%= link_to 'Find Out More', league_path(@leagues[3]), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>

      </div>
