  <% if !logged_in? %>
    <div class="card">
      <div class="card-body">
        <%= form_for(:session, url: login_path) do |f| %>

          <div class="form-row">

          <div class="form-group mb-2 col-md-6 col-lg-4">
            <%= f.email_field :email, placeholder: "Email", class: 'form-control' %>
          </div>

          <div class="form-group mb-2 col-md-6 col-lg-4">
            <%= f.password_field :password, placeholder: "Password", class: 'form-control mb-0' %>
            <%= link_to "(forgot password)", new_password_reset_path, class: "mr-2" %>
          </div>

          <div class="form-group custom-control custom-checkbox col-sm-6 col-lg-2">
            <%= f.check_box :remember_me, class: 'custom-control-input' %>
            <%= f.label :remember_me, class: "custom-control-label ml-4 mt-2" %>
          </div>

          <div class="col-sm-6 col-lg-2">
            <%= f.button "Log in", type: :submit, class: "btn btn-primary mb-2 form-control" %>
          </div>

          </div>

        <% end %>
      </div>
    </div>

  <% end %>

<!-- Jumbotron Header -->
      <header class="jumbotron my-4" style="background-image:url('https://www.customwallpaper.net.au/wp-content/uploads/2016/07/Soccer-ball-in-goal-1024x543.jpeg');background-size:cover;background-repeat:no-repeat;padding-top:1rem">



        <h1>Soccer Predictions</h1>
        <h2><%= "#{@season.start_year} - #{@season.start_year+1}" %> season</h2>
        <% if logged_in? %>
          <h3 class="header"><%= "Hello, #{@user.name}" %></h3>
        <% else %>
          <h3 class="header">Think you can predict the future?<br>Put your prediction skills to the test here!</h3>
          <h3 class="header"><%= link_to 'Sign Up!', signup_path, class: 'btn btn-lg s-button' %></h3>
        <% end %>
      </header>

      <!-- Page Features -->
      <div class="row text-center">

        <% if logged_in? %>

          <% i=0 %>
          <% while i < @leagues.count %>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">

            <% if @leagues[i].logo_url %>
              <%= link_to league_path(@leagues[i]) do %>
                <img class="card-img-top p-2" height="160px" src="<%= @leagues[i].logo_url %>" alt="<%= @leagues[i].name %>">
              <% end %>
            <% end %>

            <div class="card-body">
              <h4 class="card-title"><%= @leagues[i].name %></h4>
              <p class="card-text">See how you rank</p>
            </div>
            <div class="card-footer">
              <%= link_to 'Rankings', "#{league_path(@leagues[i])}/rankings", class: 'btn btn-primary' %>
              <% i += 1 %>
            </div>
          </div>
        </div>

          <% end %>

        <% else %>
          <% if @leagues.count > 3 %>
            <% @leagues.each do |league| %>
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                  <img class="card-img-top p-2" height="160px" src="<%= league.logo_url %>" alt="EPL">

                  <div class="card-body">
                    <h4 class="card-title"><%= league.name %></h4>
                    <p class="card-text"><%= league.country.name %></p>
                  </div>
                  <div class="card-footer">
                    <%= link_to 'Find Out More', league_path(league), class: 'btn btn-primary' %>
                  </div>
                </div>
              </div>
            <% end %>


          <% end %>
        <% end %>

        <% if @upcoming_matches.any? %>
          <div class="col-lg-6 offset-lg-3">
            <div class="card">
              <div class="card-header">
                <h4>Upcoming Matches</h4>
              </div>

              <% if @upcoming_today.any? %>
                <h5>Today</h5>
                <ul class="list-group list-group-flush">
                  <% @upcoming_today.each do |m| %>
                    <li class="list-group-item">
                      <%= link_to league_match_path(m.league, m) do %>
                        <%= "#{m.home_team.name} ? - ? #{m.away_team.name}" %>
                      <% end %>
                      at <%= m.match_date_time.strftime('%I:%M %p') %>
                    </li>
                  <% end %>
                </ul>
              <% end %>

              <% if @upcoming_tomor.any? %>
                <h5>Tomorrow</h5>
                <ul class="list-group list-group-flush">
                  <% @upcoming_tomor.each do |m| %>
                    <li class="list-group-item">
                      <%= link_to league_match_path(m.league, m) do %>
                        <%= "#{m.home_team.name} ? - ? #{m.away_team.name}" %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              <% end %>

              <% if @upcoming_later.any? %>
                <h5>Later</h5>
                <ul class="list-group list-group-flush">
                  <% @upcoming_later.each do |m| %>
                    <li class="list-group-item">
                      <%= link_to league_match_path(m.league, m) do %>
                        <%= "#{m.home_team.name} ? - ? #{m.away_team.name}" %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              <% end %>

            </div>
          </div>
        <% end %>

      </div>
