  <% if !logged_in? %>
    <div class="card">
      <div class="card-body">
        <%= form_for(:session, url: login_path, html: {class: "form-inline", style: "float:right" }) do |f| %>
    
          <%= f.label :email, class: 'mr-2' %>
          <%= f.email_field :email, class: 'form-control mb-2 mr-sm-2' %>

          <%= f.label :password %>
          <%= link_to "(forgot password)", new_password_reset_path, class: 'mr-2' %>
          <%= f.password_field :password, class: 'form-control mb-2 mr-sm-2' %>

          <%= f.label :remember_me, class: "checkbox inline mr-2" do %>
            <%= f.check_box :remember_me, class: 'form-control m-2' %>
            <span>Remember me</span>
          <% end %>

          <%= f.button "Log in", type: :submit, class: "btn btn-primary mb-2" %>

        <% end %>
      </div>
    </div>

  <% end %>

<!-- Jumbotron Header -->
      <header class="jumbotron my-4" style="background-image:url('https://www.customwallpaper.net.au/wp-content/uploads/2016/07/Soccer-ball-in-goal-1024x543.jpeg');background-size:cover;background-repeat:no-repeat;padding-top:1rem">
        
    
        
        <h1>Soccer Predictions</h1>
        <h2>2019 - 2020 season</h2>
        <% if logged_in? %>
          <h3 class="header"><%= "Hello, #{@user.name}" %></h3>
        <% else %>
          <h3 class="header">Think you can predict the future?<br>Put your prediction skills to the test here!</h3>
          <h3 class="header"><%= link_to 'Sign Up!', signup_path, class: 'btn btn-lg s-button' %></h3>
        <% end %>
      </header>

      <!-- Page Features -->
      <div class="row text-center">

        <% if logged_in? %>
        
          <% i=0 %>
          <% while i < @leagues.count %>
        
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            
            <% if @leagues[i].logo_url %>
            <img class="card-img-top p-2" height="160px" src="<%= @leagues[i].logo_url %>" alt="<%= @leagues[i].name %>">
            <% end %>
            
            <div class="card-body">
              <h4 class="card-title"><%= @leagues[i].name %></h4>
              <p class="card-text">See how you rank</p>
            </div>
            <div class="card-footer">
              <%= link_to 'Rankings', "#{league_path(@leagues[i])}/rankings", class: 'btn btn-primary' %>
              <% i += 1 %>
            </div>
          </div>
        </div>
        
          <% end %>
        
        <% else %>
          <% if @leagues.count > 3 %>
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top p-2" height="160px" src="<%= @leagues[0].logo_url %>" alt="EPL">
            
            <div class="card-body">
              <h4 class="card-title">Premier League</h4>
              <p class="card-text">Will Manchester City be able to retain the title this season?</p>
            </div>
            <div class="card-footer">
              <%= link_to 'Find Out More', league_path(@leagues[0]), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top p-2" height="160px" src="<%= @leagues[1].logo_url %>" alt="La Liga">
            <div class="card-body">
              <h4 class="card-title">La Liga</h4>
              <p class="card-text">Cristiano is off to Italy, but surely this is still a league to watch.</p>
            </div>
            <div class="card-footer">
              <%= link_to 'Find Out More', league_path(@leagues[1]), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top p-2" height="160px" src="<%= @leagues[2].logo_url %>" alt="Ligue 1">
            <div class="card-body">
              <h4 class="card-title">Ligue 1</h4>
              <p class="card-text">Kind of a one-man-show here, but hey, maybe we'll be surprised this season.</p>
            </div>
            <div class="card-footer">
              <%= link_to 'Find Out More', league_path(@leagues[2]), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top p-2" height="160px" src="<%= @leagues[3].logo_url %>" alt="Serie A">
            <div class="card-body">
              <h4 class="card-title">Serie A</h4>
              <p class="card-text">How exciting will this be after the arrival of 5-time Ballon-d'Or winner?</p>
            </div>
            <div class="card-footer">
              <%= link_to 'Find Out More', league_path(@leagues[3]), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
          <% end %>
        <% end %>
        
        <% if @upcoming_matches.any? %>
        <div class="col-lg-6 offset-lg-3">
          <div class="card">
            <div class="card-header">
              Upcoming Matches
            </div>
            <ul class="list-group list-group-flush">
              <% @upcoming_matches.each do |m| %>
                <li class="list-group-item">
                <%= link_to league_match_path(m.league, m) do %>
                <%= "#{m.home_team.name} ? - ? #{m.away_team.name}" %>
                <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <% end %>

      </div>
