<% provide(:title, 'Leagues') %>

<h1>Leagues</h1>
<h2>Season: <%= "#{@season.start_year} - #{@season.start_year+1}" %></h2>

<div class="row">
<% @leagues.each do |league| %>
<div class="col-lg-3 col-md-6">
    <div class="card" style="margin-bottom:24px">

    <% if league.logo_url %>
    <img class="card-img-top p-2" height="144px" src="<%= league.logo_url %>">
    <% end %>

    <div class="card-body">
      <p><%= league.name %> <span class="badge badge-dark end"><%= league.country.name %></span></p>
    </div>
    <div class="card-footer">
      <%= link_to "Details", league_path(league) %>
      <%= link_to "Matches", league_matches_path(league), class:"end" %>
    </div>
  </div>
</div>
<% end %>
</div>
