<% provide(:title, @league.name) %>

<h1><%= @league.name %></h1>

<p>Country: <%= @league.country.name %></p>

<h3>Recent Matches:</h3>

<ul>
  <% @recent_matches.each do |m| %>
  <li><%= m.match_date_time.strftime("%d/%m/%Y at %I:%M%p (%Z)") %>
  <%= m.home_team.name %>
  <% if m.home_goals && m.away_goals %>
    <%= "#{m.home_goals} - #{m.away_goals}" %>
  <% else %>
  vs
  <% end %>
  <%= m.away_team.name %>
  </li>
  <% end %>
</ul>

<p><%= link_to 'All matches', league_matches_path(@league) %></p>

<p><%= link_to 'Rankings', "#{league_path}/rankings", class: 'btn btn-outline-primary' %></p>

<h3>Teams:</h3>

<ul>
  <% @teams.each do |team| %>
  <li><%= link_to team.name, team %></li>
  <% end %>
</ul>
