<% if current_user? @user %>
<% provide(:title, "My Predictions") %>
<% else %>
<% provide(:title, "#{@user.name}'s Predictions") %>
<% end %>

<% if current_user? @user %>
  <h1>My Predictions</h1>
<% else %>
  <h1><%= "#{@user.name}'s Predictions" %></h1>
<% end %>

<div class="row">
  <% @predictions.each do |p| %>
    
    <div class="col-md-6">
      <div class="card m-2 center">
        
        <% if p.match.home_goals %>
          <% @v = " #{p.match.home_goals} - #{p.match.away_goals} " %>
        <% else %>
          <% @v = " vs " %>
        <% end %>
        
        <h5 class="card-header">
          <%= link_to "#{p.match.home_team.name} #{@v} #{p.match.away_team.name}", league_match_path(p.match.league, p.match) %>
        </h5>
        
        <div class="card-body">
        
          <%= "[#{p.match.match_date_time.strftime('%d/%m/%Y at %H:%M')}]" %>

          <div>
            <h6><%= link_to 'Prediction:', user_prediction_path(@user, p) %></h6>
            <%= "#{p.match.home_team.name} #{p.home_goals} - #{p.away_goals} #{p.match.away_team.name}" %>
          </div>
          
        </div>
      </div> <!-- card -->
    </div> <!-- col -->
    
  <% end %>

</div>

<%= will_paginate(@predictions, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>

<% if current_user? @user %>
  <%= link_to 'Back to Profile', profile_path, class: 'btn btn-outline-primary' %>
<% else %>
  <%= link_to 'Back to Profile', user_path(@user), class: 'btn btn-outline-primary' %>
<% end %>