<% provide(:title, "Prediction") %>

<div class="row">
  <div class="col-md-6 offset-md-3">
    
    <% if current_user?(@user) %>
      <h3>My Prediction</h3>
    <% else %>
      <h3><%= "#{@user.name}'s Prediction" %></h3>
    <% end %>
    
    <div class="card mb-2">
      <div class="card-header">
        <%= link_to league_match_path(@match.league, @match) do %>
          <%= "#{@match.home_team.name} vs #{@match.away_team.name}" %>
        <% end %>
      </div>
      <div class="card-body">
        <h4>Prediction:</h4>
        <%= "#{@match.home_team.name} #{@prediction.home_goals} - #{@prediction.away_goals} #{@match.away_team.name}" %>
        <% if @match.home_goals %>
          <h3>Match result:</h3>
          <%= "#{@match.home_team.name} #{@match.home_goals} - #{@match.away_goals} #{@match.away_team.name}" %>
        <% end %>
      </div>
    </div>
    
    <% if current_user?(@user) && @match.match_date_time >= 1.hour.from_now %>
    <p>
      <%= link_to 'Modify', edit_user_prediction_path(@user, @prediction),
                  class: 'btn btn-outline-primary' %> |
      <%= link_to 'Delete', user_prediction_path(@user, @prediction),
                  method: :delete, class: 'btn btn-outline-danger' %>
    </p>
    <% end %>
    <hr>
    <p><%= link_to 'All predictions', user_predictions_path(@prediction.user), class: 'btn btn-outline-dark' %></p>
    
  </div>
</div>
