<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
    <% if current_user?(@user) %>
      <h5>Actions</h5>
      <%= link_to "Edit", edit_user_path(current_user) %> <br>
      <%= link_to "My Predictions", user_predictions_path(current_user) %>
    <% else %>
      <%= link_to "#{@user.name}'s Predictions", user_predictions_path(@user) %>
    <% end %>
    </section>
  </aside>
  
  <div class="col-md-8">
    <h4><%= current_user?(@user) ? "Hi #{@user.name}" : "#{@user.name}'s Profile" %></h4>
    <p>Member since: <%= @user.activated_at.strftime("%d/%m/%Y") %></p>
    <p><%= pluralize(@num_predictions, 'prediction') %></p>
    
    <% if @urgent_predictions && @urgent_predictions.any? %>
    <h5>Don't forget to predict on these matches:</h5>
    <ul>
      <% @urgent_predictions.each do |up| %>
      <li><%= link_to "#{up.home_team.name} vs #{up.away_team.name}", league_match_path(up.league, up) %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>