<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <% if current_user?(@user) %>
    <section>
      <h5>Actions</h5>
      <%= link_to "Edit", edit_user_path(current_user) %> <br>
      <%= link_to "My Predictions", user_predictions_path(current_user) %>
    </section>
    <% end %>
  </aside>
  
  <div class="col-md-8">
    <h4><%= current_user?(@user) ? "My" : "#{@user.name}'s" %> Predictions</h4>
    <ul>
      <% @predictions.each do |p| %>
      <li><%= p.match.home_team.name %> vs <%= p.match.away_team.name %></li>
      <% end %>
    </ul>
  </div>
</div>