<% provide(:title, 'Edit Match') %>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <h4>Editing <%= "#{@match.home_team.name} vs #{@match.away_team.name}" %></h4>
    
    <%= form_for(@match, url: league_match_path) do |f| %>
      <%= render 'form_errors' %>
      
      
      <%= f.label :match_date_time %>
      <%= f.text_field :match_date_time, class: "form-control" %>
      
      <%= f.label @match.home_team.name %>
      <%= f.select(:home_goals, options_for_select((0..10).step(1))) %>
      
      <%= f.label @match.away_team.name %>
      <%= f.select(:away_goals, options_for_select((0..10).step(1))) %>
      
      <%= f.submit "Save changes", class: "btn btn-outline-success" %>
      <%= link_to "Cancel", league_match_path(@match.league, @match), class: "btn btn-outline-dark" %>
      
    <% end %>
  </div>
</div>