<% provide(:title, 'Matches') %>

<h1><%= @league.name %> Matches</h1>

<div class="row">
<% @matches.each do |match| %>
<div class="col-md-6 offset-md-3">
  <div class="card" style="margin-bottom:24px">
    <div class="card-body">
      <p>
        <%= link_to league_match_path(@league,match) do %>
        <%= match.home_team.name %> vs <%= match.away_team.name %>
        <% end %>
      </p>
      <p><%= match.match_date_time.strftime("%m/%d/%Y at %I:%M%p (%Z)") %></p>
    </div>
  </div>
</div>
<% end %>
</div>
