<% provide(:title, 'Matches') %>

<h1><%= @league.name %> Matches</h1>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <table class="table table-sm table-dark">
      <% @future_matches.each do |match| %>
        <tr>
          <td class="home"><%= match.home_team.name %></td>
          <td class="score">
            <%= link_to league_match_path(@league,match) do %>
            <%= match.home_goals.nil? ? "?" : match.home_goals %> - <%= match.away_goals.nil? ? "?" : match.away_goals %>
            <% end %>
            <br><%= match.match_date_time.strftime("%d/%m/%Y at %H:%M") %>
          </td>
          <td class="away"><%= match.away_team.name %></td>
        </tr>
      <% end %>
      <% @old_matches.each do |match| %>
        <tr>
          <td class="home"><%= match.home_team.name %></td>
          <td class="score">
            <%= link_to league_match_path(@league,match) do %>
            <%= match.home_goals.nil? ? "?" : match.home_goals %> - <%= match.away_goals.nil? ? "?" : match.away_goals %>
            <% end %>
            <br><%= match.match_date_time.strftime("%d/%m/%Y at %H:%M") %>
          </td>
          <td class="away"><%= match.away_team.name %></td>
        </tr>
      <% end %>
    </table>
    
    <%= link_to @league.name, league_path(@league), class: "btn btn-outline-dark" %><br>
    
    <% if current_user && current_user.admin? %>
    <%= link_to 'New Match', new_league_match_path(@league, @match), class: "btn btn-outline-primary" %>
    <% end %>
  </div>
</div>
