<% provide(:title, "#{@match.home_team.name} vs #{@match.away_team.name}") %>

<h1><%= "#{@match.home_team.name} vs #{@match.away_team.name}" %></h1>
<% if @match.home_goals && @match.away_goals %>
<h2><%= "#{@match.home_goals} - #{@match.away_goals}" %></h2>
<% end %>

<p>Kick off: <%= @match.match_date_time.strftime("%m/%d/%Y at %I:%M%p (%Z)") %></p>

<% if DateTime.now < @match.match_date_time %>
<p>
  Kick off in <%= pluralize(((@match.match_date_time - DateTime.now) / 1.day).round, "day") %>
  and <%= pluralize((((@match.match_date_time - DateTime.now) / 1.hour).round)%24, "hour") %>
</p>
<% end %>

<%= link_to 'Back', league_matches_path(@match.league), class:'btn btn-outline-dark' %>