<header class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <%= link_to "Predictions", root_path, id: "logo", class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-right ml-auto">
        <li><%= link_to "Home",   root_path, class: "nav-link" %></li>
        <li><%= link_to "Leagues",   leagues_path, class: "nav-link" %></li>
        <li><%= link_to "Teams",   teams_path, class: "nav-link" %></li>
        <li><%= link_to "Help",   help_path, class: "nav-link" %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path, class: "nav-link" %></li>
          <li class="dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", profile_path, class: "dropdown-item" %></li>
              <li><%= link_to "Edit Profile", edit_user_path(current_user), class: "dropdown-item" %></li>
              <li><%= link_to "Settings", settings_path, class: "dropdown-item" %></li>
              <li class="divider"></li>
              <li><%= link_to "Log out", logout_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>